services:
  apisix:
    image: apache/apisix:3.8.0-debian
    restart: always
    volumes:
      - ./apisix/conf/apisix.yaml:/usr/local/apisix/conf/apisix.yaml:ro
    environment:
      - APISIX_STAND_ALONE=true
    ports:
      - "9080:9080"
    depends_on:
      - opa

  opa:
    image: openpolicyagent/opa:0.70.0
    command: run --server --addr :8181
    ports:
      - "8181:8181"

  pap:
    build: ./pap
    ports:
      - "3000:3000"

  mock-data:
    container_name: mock-data
    image: nginx:1.27
    volumes:
      - ./mock-data/index.html:/usr/share/nginx/html/index.html:ro
